body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#hintDialog{
  position: absolute;
}

#hintDialog > ul {
  list-style-type: none;
  background-color: pink;
  position: absolute;
  z-index: 999;
  top: 0;
  margin: 0px;
  padding: 0px;
}

.highlighted {
  background-color: salmon;
}

#mirror {
  white-space: nowrap;
}